force-app/main/default/flows/Account_Update_Account_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_AnyLiveCampaigns_to_False</name>
        <label>Set AnyLiveCampaigns to False</label>
        <locationX>50</locationX>
        <locationY>91</locationY>
        <assignmentItems>
            <assignToReference>AnyLiveCampaigns</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_All_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AnyLiveCampaigns_to_True</name>
        <label>Set AnyLiveCampaigns to True</label>
        <locationX>523</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>AnyLiveCampaigns</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>At_least_one_live_campaign</name>
        <label>At least one live campaign</label>
        <locationX>632</locationX>
        <locationY>92</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Status_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnyLiveCampaigns</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Status_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Status_is_Live</name>
        <label>Campaign Status is Live</label>
        <locationX>298</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Campaign_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AnyLiveCampaigns_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update account status based on related opportunities&apos; campaign status</description>
    <interviewLabel>Account - Update Account Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update Account Status</label>
    <loops>
        <name>Loop_Through_Opportunities</name>
        <label>Loop Through Opportunities</label>
        <locationX>406</locationX>
        <locationY>89</locationY>
        <assignNextValueToReference>Opportunity</assignNextValueToReference>
        <collectionReference>AllOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Campaign_Status_is_Live</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>At_least_one_live_campaign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_All_Opportunities</name>
        <label>Lookup All Opportunities</label>
        <locationX>241</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>AllOpportunities</outputReference>
        <queriedFields>Campaign_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Status_to_False</name>
        <label>Update Account Status to False</label>
        <locationX>853</locationX>
        <locationY>250</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Inactive Client</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Status_to_True</name>
        <label>Update Account Status to True</label>
        <locationX>853</locationX>
        <locationY>89</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Active Client</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Set_AnyLiveCampaigns_to_False</startElementReference>
    <status>Active</status>
    <variables>
        <description>The account ID related to the original opportunity</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>To determine if there are any live campaigns related to an account.</description>
        <name>AnyLiveCampaigns</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
