force-app/main/default/flows/Account_Update_Last_Bottom_up_Activity_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Last_Bottom_up_Activity_Date</name>
        <label>Check Last Bottom up Activity Date</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>for_max_of_event_and_task_date</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Last_Bottom_up_Activity_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Bottom_up_Activity_Date</targetReference>
            </connector>
            <label>Different</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>days30ago</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 30</expression>
    </formulas>
    <formulas>
        <name>days60Ago</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 60</expression>
    </formulas>
    <formulas>
        <name>for_max_of_event_and_task_date</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!Get_Latest_Event.ActivityDate}),
{!Get_Latest_Task.ActivityDate},
IF(ISNULL({!Get_Latest_Task.ActivityDate}),
{!Get_Latest_Event.ActivityDate},
IF({!Get_Latest_Event.ActivityDate}&gt;={!Get_Latest_Task.ActivityDate},
{!Get_Latest_Event.ActivityDate},
{!Get_Latest_Task.ActivityDate}
)
)
)</expression>
    </formulas>
    <interviewLabel>Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update Last Bottom up Activity Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Latest_Event</name>
        <label>Get Latest Event</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Bottoms_Up_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Task</name>
        <label>Get Latest Task</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Last_Bottom_up_Activity_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Bottoms_Up_Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Bottom_up_Activity_Date</name>
        <label>Update Account Bottom up Activity Date</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>Last_Bottom_up_Activity_Date__c</field>
            <value>
                <elementReference>for_max_of_event_and_task_date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Latest_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bottoms_Up_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advertising</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-12</startDate>
            <startTime>01:41:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
