force-app/main/default/flows/Advertiser_Agency_Before_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Or_Advertiser_Agency_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Advertiser__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_Override</targetReference>
            </connector>
            <label>Owner Or Advertiser Agency Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Override</name>
        <label>Is Owner Override?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_AdvertiserAgency_Relationship_n_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Override</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Override_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Advertiser__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AdvertiserAgency_Relationship</targetReference>
            </connector>
            <label>Owner Override</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AdvertiserAgency</name>
        <dataType>String</dataType>
        <expression>{!$Record.Advertiser__c} +&apos;-&apos;+{!$Record.Agency__c}</expression>
    </formulas>
    <interviewLabel>Advertiser Agency Before Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advertiser Agency Before Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_AdvertiserAgency_Relationship</name>
        <label>Update AdvertiserAgency Relationship</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>AdvertiserAgency__c</field>
            <value>
                <elementReference>AdvertiserAgency</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AdvertiserAgency_Relationship_n_Owner</name>
        <label>Update AdvertiserAgency Relationship and Owner</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>AdvertiserAgency__c</field>
            <value>
                <elementReference>AdvertiserAgency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Advertiser__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <object>Advertiser_Agency_Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
