force-app/main/default/flows/Event_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Determine if a flow task was found - if not, no updates needed to the triggering event</description>
        <name>Determine_if_Update_Needed</name>
        <label>Determine if Update Needed</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No Update Needed</defaultConnectorLabel>
        <rules>
            <name>Update_Needed_Flow_Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flow_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Event</targetReference>
            </connector>
            <label>Update Needed - Flow Task Found</label>
        </rules>
    </decisions>
    <description>When an event is created and logged to at least one person, populate the event fields based on flow name, step type/number, and template name from the event attendee&apos;s most recent flow task.</description>
    <environments>Default</environments>
    <interviewLabel>Event After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Event with Flow Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Flow_Task</name>
        <label>Get Flow Task</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_if_Update_Needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>groove_sent_from_flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Flow_Name__c</queriedFields>
        <queriedFields>Groove_Step_Number__c</queriedFields>
        <queriedFields>Groove_Step_Type__c</queriedFields>
        <queriedFields>Template_Name__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update Event</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>Get_Flow_Task.Flow_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groove_Step_Number__c</field>
            <value>
                <elementReference>Get_Flow_Task.Groove_Step_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groove_Step_Type__c</field>
            <value>
                <elementReference>Get_Flow_Task.Groove_Step_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template_Name__c</field>
            <value>
                <elementReference>Get_Flow_Task.Template_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Flow_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsChild</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
