force-app/main/default/flows/Opportunity_Red_Flag_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Red_Flag_Alert_EMEA_Action_1</name>
        <label>Red Flag Alert - EMEA Action 1</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>Opportunity.Red_Flag_Alert_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Create_Exception_records</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Red Flag Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Red Flag Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_records</name>
        <label>Create Exception records</label>
        <locationX>572</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>ComponentName__c</field>
            <value>
                <stringValue>Opportunity - Red Flag Email Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Red_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Region__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>EMEA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Programmatic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Red_Flag_Alert_EMEA_Action_1</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
