force-app/main/default/flows/Opportunity_Update_GMP_Offset_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Aggregate_of_quantity</name>
        <label>Aggregate of quantity</label>
        <locationX>138</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>SumOfQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_Opportunity_Product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updating_the_GMP_Offset_Amount</name>
        <label>Updating the GMP Offset Amount</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.GMP_Offset_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_GMPOffsetAmount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Updating_the_GMP_Offset_Amount_to_null</name>
        <label>Updating the GMP Offset Amount to null</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.GMP_Offset_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Checking_Offset_Rate</name>
        <label>Checking Offset Rate</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>positiveValues</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GMP_Offset_rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$0.10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GMP_Offset_rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$0.25</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Products_Whose_Pricing_is_CPM</targetReference>
            </connector>
            <label>positiveValues</label>
        </rules>
        <rules>
            <name>zero_or_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GMP_Offset_rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$0.00</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GMP_Offset_rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_the_GMP_Offset_Amount_to_null</targetReference>
            </connector>
            <label>zero or null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Record_Type</name>
        <label>Checking Record Type</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advertising_OR_Activation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_Offset_Rate</targetReference>
            </connector>
            <label>Advertising OR Activation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>For_GMPOffsetAmount</name>
        <dataType>Number</dataType>
        <expression>({!SumOfQuantity}*IF(TEXT({!$Record.GMP_Offset_rate__c})=&apos;$0.10&apos;, 0.1, 0.25))/1000</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>Opportunity - Update GMP Offset Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update GMP Offset Amount</label>
    <loops>
        <name>Looping_Opportunity_Product</name>
        <label>Looping Opportunity Product</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <collectionReference>Get_Opportunity_Products_Whose_Pricing_is_CPM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aggregate_of_quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updating_the_GMP_Offset_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products_Whose_Pricing_is_CPM</name>
        <label>Get Opportunity Products Whose Pricing is CPM</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Opportunity_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricing__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPM</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GMP_Offset_rate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SumOfQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
