force-app/main/default/flows/Opportunity_On_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Check the record type of the opportunity</description>
        <name>Check_for_Record_Type</name>
        <label>Check for Record Type</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Pricebook_to_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advertising_Record_Type_OR_Open_Market</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open_Market</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pricebook_to_Advertising</targetReference>
            </connector>
            <label>Advertising Record Type OR Open Market</label>
        </rules>
        <rules>
            <name>AIP_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attention_Intelligence_Platform</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pricebook_to_AIP</targetReference>
            </connector>
            <label>AIP Record Type</label>
        </rules>
        <rules>
            <name>Activation_Opportunity_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pricebook_to_Activation</targetReference>
            </connector>
            <label>Activation Opportunity Record Type</label>
        </rules>
        <rules>
            <name>Verity_Demand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verity_Demand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pricebook_to_Verity_Demand</targetReference>
            </connector>
            <label>Verity - Demand</label>
        </rules>
        <rules>
            <name>Verity_Publisher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verity_Publisher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pricebook_to_Verity_Publisher</targetReference>
            </connector>
            <label>Verity - Publisher</label>
        </rules>
        <rules>
            <name>Verity_Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verity_Platform</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pricebook_to_Verity_Platform</targetReference>
            </connector>
            <label>Verity - Platform</label>
        </rules>
    </decisions>
    <description>This flow is added to include all the customization related to opportunity insert</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity On Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity On Create Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Pricebook_to_Activation</name>
        <label>Update Pricebook to Activation</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Label.Activation_Opportunity_PriceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pricebook_to_Advertising</name>
        <label>Update Pricebook to Advertising</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Label.Advertising_Pricebook_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pricebook_to_AIP</name>
        <label>Update Pricebook to AIP</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Label.Playground_AIP</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pricebook_to_Standard</name>
        <label>Update Pricebook to Standard</label>
        <locationX>1634</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Label.StandardPricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pricebook_to_Verity_Demand</name>
        <label>Update Pricebook to Verity - Demand</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Label.Verity_Demand_PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pricebook_to_Verity_Platform</name>
        <label>Update Pricebook to Verity - Platform</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Label.Verity_Platform_PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pricebook_to_Verity_Publisher</name>
        <label>Update Pricebook to Verity - Publisher</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Label.Verity_Publisher_PricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Record_Type</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>advertisingOpptyRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>List of Opportunities to update.</description>
        <name>lstOpptyToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpptyRecordVarAIP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
