force-app/main/default/flows/Opportunity_Schedule_Flow_Send_Daily_Placeholder_Email_Notice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Placeholder_Email_Alert</name>
        <label>Placeholder Email Alert</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Opportunity.Opp_Notice_Placeholder_Product</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_If_AM_is_active</name>
        <label>Check If AM is active</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Placeholder_Email_Alert</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <description>Sends email to AM about the Placeholder product. This is converted from a workflow</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity(Schedule Flow) - Send Daily Placeholder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity(Schedule Flow) - Send Daily Placeholder Email Notice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_AM_is_active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Probability</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Placeholder_Product_Count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012U00000001pHJIAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Channel__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Programmatic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Manager__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-15</startDate>
            <startTime>00:06:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
