force-app/main/default/flows/Opportunity_Screen_Flow_Clone_Advertising.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_If_Advertising</name>
        <label>Check If Advertising</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Not_Adv_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advertising</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Advertising_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>Advertising</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity (Screen Flow) - Clone Advertising {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity (Screen Flow) - Clone Advertising</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Exception_records</name>
        <label>Create Exception records</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ComponentName__c</field>
            <value>
                <stringValue>Opportunity (Screen Flow) - Clone Advertising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Navigate_to_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception_records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>Get_Opportunity.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency_Discount__c</field>
            <value>
                <elementReference>Get_Opportunity.Agency_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency_Name__c</field>
            <value>
                <elementReference>Get_Opportunity.Agency_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Barter_Trading_Deal__c</field>
            <value>
                <elementReference>Get_Opportunity.Barter_Trading_Deal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSM_1__c</field>
            <value>
                <elementReference>Get_Opportunity.CSM_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>Get_Opportunity.Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Get_Opportunity.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DSP__c</field>
            <value>
                <elementReference>Get_Opportunity.DSP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dashboard_ID__c</field>
            <value>
                <elementReference>Get_Opportunity.Dashboard_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Clone of {!Get_Opportunity.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Region__c</field>
            <value>
                <elementReference>Get_Opportunity.Opportunity_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSM__c</field>
            <value>
                <elementReference>Get_Opportunity.PSM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFP_Type__c</field>
            <value>
                <elementReference>Get_Opportunity.RFP_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Advertising_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLoft1__Primary_Contact__c</field>
            <value>
                <elementReference>Get_Opportunity.SalesLoft1__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Opportunity Identified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Strategic_Solution_Pitched__c</field>
            <value>
                <elementReference>Get_Opportunity.Strategic_Solution_Pitched__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voiced_Budget__c</field>
            <value>
                <elementReference>Get_Opportunity.Voiced_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Advertising</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 5, 5);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 12, 12);&quot;&gt;Please reach out to System Administrator or send an email to salesforcesupport@gumgum.com with the error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_record</name>
        <label>Navigate to record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>navigate</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Opportunity</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Adv_Error_Screen</name>
        <label>Not Adv Error Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 12, 12);&quot;&gt;This is limited to Advertising Opportunities only.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 12, 12);&quot;&gt; Please reach out to System Administrator or send an email to salesforcesupport@gumgum.com  with any questions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
