force-app/main/default/flows/Opportunity_Advertising_Incremental.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>A_NewSOCVOpptyProducts</name>
        <label>A_NewSOCVOpptyProducts</label>
        <locationX>50</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>SOCV_NewOpptyProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOC_NewOpptyProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_OpptyProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_OpptyProductsToIncremental</name>
        <label>A_OpptyProductsToIncremental</label>
        <locationX>248</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>SOC_NewOpptyProducts.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_IncrementalOpptyID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_NewOpptyProducts.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpptyProducts.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_NewOpptyProducts.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_NewOpptyProducts.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_NewOpptyProducts.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_NewOpptyProducts.Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpptyProducts.Pricing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_NewOpptyProducts.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_NewOpptyProducts.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOC_NewOpptyProducts.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOV_OpptyProducts.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>A_NewSOCVOpptyProducts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approved_Outcome_Pending</name>
        <choiceText>Approved / Outcome Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved / Outcome Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed_Lost</name>
        <choiceText>Closed/Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed/Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed_Won</name>
        <choiceText>Closed/Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed/Won</stringValue>
        </value>
    </choices>
    <choices>
        <name>Negotiations</name>
        <choiceText>Negotiations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Negotiations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity_Identified</name>
        <choiceText>Opportunity Identified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity Identified</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proposal</name>
        <choiceText>Proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proposal</stringValue>
        </value>
    </choices>
    <decisions>
        <name>D_HasOpptyProducts</name>
        <label>D_HasOpptyProducts</label>
        <locationX>166</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOCV_OpptyLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_OpptyProducts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Use formula to create Opp Name instead of user input on the first screen. Save the Opportunity Source field on the new opportunity.</description>
    <dynamicChoiceSets>
        <name>StageName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>The name of the new opportunity: &quot;Incremental; {Old Opp Name} {Today&apos;s Date}</description>
        <name>IncrementalOppName</name>
        <dataType>String</dataType>
        <expression>&quot;Incremental: &quot; &amp; {!SourceOppName} &amp; &quot; &quot; &amp; TEXT( MONTH( TODAY() ) ) &amp; &quot;/&quot; &amp; TEXT( DAY( TODAY() ) ) &amp; &quot;/&quot; &amp; TEXT( YEAR( TODAY() ) )</expression>
    </formulas>
    <formulas>
        <name>var_VerticalIndustryParsed</name>
        <dataType>String</dataType>
        <expression>TRIM(
          SUBSTITUTE(
               SUBSTITUTE(
                      {!var_IndustryVertical},
                      &quot;[&quot;,&quot;&quot;),
                &quot;]&quot;,&quot;&quot;)
) + &quot;;&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity - Advertising - Incremental  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity (Advertising) - Incremental</label>
    <loops>
        <name>loop_OpptyProducts</name>
        <label>loop_OpptyProducts</label>
        <locationX>160</locationX>
        <locationY>686</locationY>
        <assignNextValueToReference>SOV_OpptyProducts</assignNextValueToReference>
        <collectionReference>SOCV_OpptyLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>A_OpptyProductsToIncremental</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FC_OpptyProducts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>FC_OpptyProducts</name>
        <label>FC_OpptyProducts</label>
        <locationX>356</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputReference>SOCV_NewOpptyProducts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>RC_IncrementalOppty</name>
        <label>RC_IncrementalOppty</label>
        <locationX>164</locationX>
        <locationY>425</locationY>
        <assignRecordIdToReference>var_IncrementalOpptyID</assignRecordIdToReference>
        <connector>
            <targetReference>D_HasOpptyProducts</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>var_AccountManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency_Name__c</field>
            <value>
                <elementReference>var_AgencyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSM_1__c</field>
            <value>
                <elementReference>var_CSM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>var_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>IncrementalOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source__c</field>
            <value>
                <elementReference>OpporunitySource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_OwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>var_PriceBookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>var_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical_Industry__c</field>
            <value>
                <elementReference>var_VerticalIndustryParsed</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>FL_OpptyProducts</name>
        <label>FL_OpptyProducts</label>
        <locationX>165</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Incremental_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpptyID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SOCV_OpptyLineItems</outputReference>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Pricing__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RL_Opportunity</name>
        <label>RL_Opportunity</label>
        <locationX>166</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RL_OpptyRecordTypeID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpptyID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>var_AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_AccountManager</assignToReference>
            <field>Account_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_AgencyName</assignToReference>
            <field>Agency_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_CSM</assignToReference>
            <field>CSM_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Channel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpporunitySource</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceOppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_OwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_PriceBookID</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_IndustryVertical</assignToReference>
            <field>Vertical_Industry__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RL_OpptyRecordTypeID</name>
        <label>RL_OpptyRecordTypeID</label>
        <locationX>165</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FL_OpptyProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advertising_Incremental</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>358</locationX>
        <locationY>525</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Incremental Opportunity created successfully. Click Finish to go to the new Opportunity, or click here to &lt;A HREF=&quot;/{!var_OpptyID}&quot; TARGET=&quot;_blank&quot;&gt;view the original Opportunity&lt;/A&gt;.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incremental_Oppty</name>
        <label>Incremental Oppty</label>
        <locationX>164</locationX>
        <locationY>340</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RC_IncrementalOppty</targetReference>
        </connector>
        <fields>
            <name>Stage</name>
            <choiceReferences>Opportunity_Identified</choiceReferences>
            <choiceReferences>Proposal</choiceReferences>
            <choiceReferences>Negotiations</choiceReferences>
            <choiceReferences>Approved_Outcome_Pending</choiceReferences>
            <choiceReferences>Closed_Won</choiceReferences>
            <choiceReferences>Closed_Lost</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Closed_Won</defaultSelectedChoiceReference>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RL_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpporunitySource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOC_NewOpptyProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOCV_NewOpptyProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOCV_OpptyLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SourceOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOV_OpptyProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_3rdParty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AccountManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AgencyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IncrementalOpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_IndustryVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PriceBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Existing Business</stringValue>
        </value>
    </variables>
</Flow>
