force-app/main/default/flows/Opportunity_Update_Close_Date_When_Stage_is_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>change_closed_date_to_Today</name>
        <label>change closed date to Today</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>For Advertising opportunities, close dat is changed when the stage is moved to Closed/Won or Lost. For other record types, the close date is changed when stage is moved to Closed/Lost</description>
        <name>Check_the_RecordType_and_Stage</name>
        <label>Check the RecordType and Stage</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advertising</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Advertising</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>change_closed_date_to_Today</targetReference>
            </connector>
            <label>Advertising</label>
        </rules>
        <rules>
            <name>Non_Advertising_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed/Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>change_closed_date_to_Today</targetReference>
            </connector>
            <label>Non Advertising Closed/Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Update Close Date When Stage is Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update Close Date When Stage is Closed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_RecordType_and_Stage</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
             OR(
                       TEXT({!$Record.StageName}) = &apos;Closed/Won&apos;,
                       TEXT({!$Record.StageName}) = &apos;Closed/Lost&apos;
                  ),
            {!$User.Bypass_Opportunity_Validation__c} = False
       )</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
