force-app/main/default/flows/Opportunity_Advertising_Find_Placeholder_OppProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Placeholder_Boolean</name>
        <label>Set Placeholder Boolean</label>
        <locationX>69</locationX>
        <locationY>107</locationY>
        <assignmentItems>
            <assignToReference>PlaceholderProductExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PlaceholderProductExists_to_True</name>
        <label>Set PlaceholderProductExists to True</label>
        <locationX>650</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>PlaceholderProductExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Placeholder_Checkbox_needs_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Placeholder_Checkbox_needs_Update</name>
        <label>Placeholder Checkbox needs Update</label>
        <locationX>808</locationX>
        <locationY>104</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlaceholderProductExists</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ExistingPlaceHolderValueOnOpp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Placeholder_Checkbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Placeholder_Product</name>
        <label>Placeholder Product?</label>
        <locationX>468</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProduct.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Placeholder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlaceholderProductExists_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity (Advertising) - Find Placeholder OppProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity (Advertising) - Find Placeholder OppProduct</label>
    <loops>
        <name>Loop_Through_Opp_Products</name>
        <label>Loop Through Opp Products</label>
        <locationX>562</locationX>
        <locationY>108</locationY>
        <assignNextValueToReference>OpportunityProduct</assignNextValueToReference>
        <collectionReference>AllOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Placeholder_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Placeholder_Checkbox_needs_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>225</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Opp_Existing_Placeholder_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>AllOpportunityLineItems</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opp_Existing_Placeholder_Value</name>
        <label>Lookup Opp Existing Placeholder Value</label>
        <locationX>380</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>ExistingPlaceHolderValueOnOpp</assignToReference>
            <field>Placeholder_Product_Exists__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Placeholder_Checkbox</name>
        <label>Update Placeholder Checkbox</label>
        <locationX>1018</locationX>
        <locationY>102</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Placeholder_Product_Exists__c</field>
            <value>
                <elementReference>PlaceholderProductExists</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Set_Placeholder_Boolean</startElementReference>
    <status>Active</status>
    <variables>
        <name>AllOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ExistingPlaceHolderValueOnOpp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PlaceholderProductExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
