force-app/main/default/flows/Opportunity_Advertising_Update_Start_End_Dates_on_Opp_when_OppProducts_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_End_Date</name>
        <label>Set End Date</label>
        <locationX>366</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistantEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Start_Date1</name>
        <label>Set Start Date</label>
        <locationX>368</locationX>
        <locationY>37</locationY>
        <assignmentItems>
            <assignToReference>StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistantStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_End_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_End_Date_Variable</name>
        <label>Update End Date Variable</label>
        <locationX>884</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityProduct.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Start_Date_Variable</name>
        <label>Update Start Date Variable</label>
        <locationX>433</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityProduct.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Higher_End_Date</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>time</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Higher_End_Date</name>
        <label>Higher End Date</label>
        <locationX>889</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>End_Date_Higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProduct.End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>EndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_Date_Variable</targetReference>
            </connector>
            <label>End Date Higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lower_Start_Date</name>
        <label>Lower Start Date</label>
        <locationX>437</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Higher_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Lower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProduct.Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>StartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Start_Date_Variable</targetReference>
            </connector>
            <label>Start Date Lower</label>
        </rules>
    </decisions>
    <description>Hy Wu 12/18/2017 Changed wait time to 0.00138 for five seconds.
Hy Wu 12/15/2017 Add wait time</description>
    <formulas>
        <name>DistantEndDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1000</expression>
    </formulas>
    <formulas>
        <name>DistantStartDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1000</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Opportunity - (Advertising) Update Start &amp; End Dates on Opp when OppProducts Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - (Advertising) Update Start &amp; End Dates on Opp when OppProducts Change</label>
    <loops>
        <name>Loop_Through_Opp_Products</name>
        <label>Loop Through Opp Products</label>
        <locationX>647</locationX>
        <locationY>380</locationY>
        <assignNextValueToReference>OpportunityProduct</assignNextValueToReference>
        <collectionReference>AllOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lower_Start_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>648</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>AllOpportunityLineItems</outputReference>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dates</name>
        <label>Update Dates</label>
        <locationX>1016</locationX>
        <locationY>379</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Wait</startElementReference>
    <status>Active</status>
    <variables>
        <name>AllOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait</name>
        <label>Wait</label>
        <locationX>139</locationX>
        <locationY>34</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Waittime</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Set_Start_Date1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.38E-4</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Waittime</label>
        </waitEvents>
    </waits>
</Flow>
