force-app/main/default/flows/Opportunity_Product_Verity_Demand_On_Delete_Update_Verity_Product_Types_on_Oppor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_PMP_Boolean</name>
        <label>Assign PMP Boolean</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>bool_PMP_Exist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Video_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Bid_Boolean</name>
        <label>Assign Pre Bid Boolean</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>bool_Pre_Bid_Exist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PMP_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Video_Boolean</name>
        <label>Assign Video Boolean</label>
        <locationX>50</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>bool_Video_Exist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opportunity_Verity_Product_Types</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Opportunity_Verity_Product_Types</name>
        <label>Check Opportunity Verity Product Types</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equal_to_Var_Verity_Product_Types</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Verity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>120c1784-ea61-4fd3-af67-ca372e71d8ed</stringValue>
                </rightValue>
            </conditions>
            <label>Equal to Var Verity Product Types</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PMP_Products</name>
        <label>Check PMP Products</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Check_Video_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PMP_Products_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Products_PMP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PMP_Boolean</targetReference>
            </connector>
            <label>PMP Products Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pre_Bid_Products</name>
        <label>Check Pre Bid Products</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Check_PMP_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Bid_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Products_Pre_Bid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pre_Bid_Boolean</targetReference>
            </connector>
            <label>Pre Bid Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Video_Products</name>
        <label>Check Video Products</label>
        <locationX>182</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity_Verity_Product_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Video_Products_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Products_Video</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Video_Boolean</targetReference>
            </connector>
            <label>Video Products Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>for_Text_Verity_Product_Types</name>
        <dataType>String</dataType>
        <expression>IF(  {!bool_PMP_Exist} &amp;&amp; {!bool_Pre_Bid_Exist} &amp;&amp; {!bool_Video_Exist}, &apos;Pre-Bid; PMP; Video&apos;,
      IF( {!bool_PMP_Exist} &amp;&amp; {!bool_Pre_Bid_Exist} , &apos;Pre-Bid; PMP&apos;,
                IF( {!bool_Pre_Bid_Exist} &amp;&amp;  {!bool_Video_Exist},&apos;Pre-Bid; Video&apos;,
                        IF(  {!bool_Video_Exist} &amp;&amp; {!bool_PMP_Exist},&apos;PMP; Video&apos;,
                                  IF( {!bool_PMP_Exist}, &apos;PMP&apos;,
                                        IF( {!bool_Pre_Bid_Exist},&apos;Pre-Bid&apos;,
                                              IF({!bool_Video_Exist},&apos;Video&apos;,&apos;&apos;
                                                 )
                                            )
                                     )
                           )
                    )
        )
  )</expression>
    </formulas>
    <interviewLabel>Opportunity Product(Verity - Demand) - On Delete Update Verity Product Types on Opportuity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product(Verity - Demand) - On Delete Update Verity Product Types on Opportuity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_records</name>
        <label>Create Exception records</label>
        <locationX>578</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>ComponentName__c</field>
            <value>
                <stringValue>Opportunity Product(Verity - Demand) - On Delete Update Verity Product Types on Opportuity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Products_PMP</name>
        <label>Get Opp Products PMP</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Products_Video</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PMP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products_Pre_Bid</name>
        <label>Get Opp Products Pre Bid</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Products_PMP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Pre-Bid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products_Video</name>
        <label>Get Opp Products Video</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pre_Bid_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Video</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>314</locationX>
        <locationY>1619</locationY>
        <faultConnector>
            <targetReference>Create_Exception_records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Verity_Type__c</field>
            <value>
                <elementReference>for_Text_Verity_Product_Types</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Products_Pre_Bid</targetReference>
        </connector>
        <filterFormula>AND(
           {!$Record.Opportunity.RecordType.DeveloperName} = &apos;Verity_Demand&apos;,
           OR(
                  CONTAINS(LOWER({!$Record.PricebookEntry.Product2.Name}), &apos;pre-bid&apos;),
                 CONTAINS({!$Record.PricebookEntry.Product2.Name}, &apos;PMP&apos;),
                  CONTAINS(LOWER({!$Record.PricebookEntry.Product2.Name}), &apos;video&apos;)
                )
)</filterFormula>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>bool_PMP_Exist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_Pre_Bid_Exist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_Video_Exist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
