force-app/main/default/flows/Opportunity_Update_Multiple_Products_Start_and_End_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calling Apex to update the Line Item Schedules</description>
        <name>OpportunityProductSchedulerController</name>
        <label>Create Schedules</label>
        <locationX>666</locationX>
        <locationY>1982</locationY>
        <actionName>OpportunityProductSchedulerController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assigning_Error_Count_From_Apex</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>oppLineItem</name>
            <value>
                <elementReference>OpportunityProductListToUpdate</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorMessageListFromAPex</assignToReference>
            <name>errorMessageFromAPex</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorOppProdDisplay</assignToReference>
            <name>errorOppLineItemsDisplay</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>displayProdApexOutput</assignToReference>
            <name>oppLineItemDisplay</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Adding_Record_to_List</name>
        <label>Adding Record to List</label>
        <locationX>886</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProductListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_opportunity_product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_opportunity_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_End_Date</name>
        <label>Assigning End Date</label>
        <locationX>754</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>loop_on_opportunity_product.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Record_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Error_Count_From_Apex</name>
        <label>Assigning Error Count From Apex</label>
        <locationX>666</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>countOfErrorOpportunityProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>errorOppProdDisplay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_Errors_From_Apex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Start_Date</name>
        <label>Assigning Start Date</label>
        <locationX>754</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>loop_on_opportunity_product.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Date_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_6</name>
        <label>Adding Opportunity Product Id to the collection</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_selected_products_OliIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_selected_products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_selected_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updating_Display_Caution</name>
        <label>Updating Display Caution Variable</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>var_Display_Text_Caution</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Enter_Start_And_End_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_Errors_From_Apex</name>
        <label>Checking Errors From Apex</label>
        <locationX>666</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>OpportunityDataTable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Errors_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countOfErrorOpportunityProducts</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityDataTable_with_Errors</targetReference>
            </connector>
            <label>Errors Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Date_Null_Check</name>
        <label>End Date Null Check</label>
        <locationX>886</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Adding_Record_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Date_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_End_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_End_Date</targetReference>
            </connector>
            <label>End Date Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if there are any Opportunity Products exist</description>
        <name>Opportunity_Product_Null_Check</name>
        <label>Opportunity Product Null Check</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Products_Display_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>select_products_screen</targetReference>
            </connector>
            <label>Product Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Date_and_End_Date_Null_Check</name>
        <label>Start Date and End Date Null Check</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>loop_on_opportunity_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_and_End_Date_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Start_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_End_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Display_Caution</targetReference>
            </connector>
            <label>Both Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Date_Null_Check</name>
        <label>Start Date Null Check</label>
        <locationX>886</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>End_Date_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Start_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_opportunity_product.Has_Actual_Verity_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Start_Date</targetReference>
            </connector>
            <label>Start Date Exist?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>customFaultMessage</name>
        <dataType>String</dataType>
        <expression>MID({!$Flow.FaultMessage},
   FIND(&quot;This error occurred&quot;, {!$Flow.FaultMessage}),
 FIND(&quot;You can look up ExceptionCode&quot;, {!$Flow.FaultMessage}) - FIND(&quot;This error occurred&quot;, {!$Flow.FaultMessage}))</expression>
    </formulas>
    <formulas>
        <name>for_Min_of_max_actual_verity_schedule_date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!Get_OppProduct_to_find_min_actuals.Maximum_Actual_Verity_Schedule_Date__c}),MONTH({!Get_OppProduct_to_find_min_actuals.Maximum_Actual_Verity_Schedule_Date__c}),1)</expression>
    </formulas>
    <formulas>
        <name>val_for_End_Date</name>
        <dataType>Boolean</dataType>
        <expression>IF( ISBLANK({!for_Min_of_max_actual_verity_schedule_date}),TRUE,
     IF( {!Product_End_Date}&gt;{!for_Min_of_max_actual_verity_schedule_date},TRUE,
          FALSE
        )
   )</expression>
    </formulas>
    <interviewLabel>Opportunity - Update Multiple Products Start and End Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update Multiple Products Start and End Date</label>
    <loops>
        <name>loop_on_opportunity_product</name>
        <label>Loop on opportunity product</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <collectionReference>select_product_dataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Start_Date_Null_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OpportunityProductSchedulerController</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_selected_products</name>
        <label>Loop on selected products</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <collectionReference>select_product_dataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_6</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_OppProduct_to_find_min_actuals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Querying all Opportunity Products related to the Opportunity</description>
        <name>get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Product_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To calculate  minimum of the maximum actual verity schedule date of selected line items</description>
        <name>Get_OppProduct_to_find_min_actuals</name>
        <label>Get OppProduct to find min actuals</label>
        <locationX>358</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Start_And_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_selected_products_OliIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Actual_Verity_Amount__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Maximum_Actual_Verity_Schedule_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>This screen takes the input of the Start Date or the End Date</description>
        <name>Enter_Start_And_End_Date</name>
        <label>Enter Start And End Date</label>
        <locationX>358</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Start_Date_and_End_Date_Null_Check</targetReference>
        </connector>
        <fields>
            <name>DisplayText2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(224, 14, 14); background-color: rgb(255, 255, 255);&quot;&gt;At least one of the dates is required to proceed &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Display_Text_Caution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Product Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EndDateCautionDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(17, 131, 231);&quot;&gt;Caution: The End date should be greater than {!for_Min_of_max_actual_verity_schedule_date} to continue&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>for_Min_of_max_actual_verity_schedule_date</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Product End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The End Date should be greater than {!for_Min_of_max_actual_verity_schedule_date} to continue&lt;/p&gt;</errorMessage>
                <formulaExpression>{!val_for_End_Date}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error message is displayed in this screen.</description>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>1062</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(241, 3, 3);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen is displayed when there are no Opportunity Products exist</description>
        <name>No_Products_Display_Screen</name>
        <label>No Products Display Screen</label>
        <locationX>1326</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Products</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 7, 7); font-size: 20px;&quot;&gt;Opportunity should contain at least one product to update start and end date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen which displays the updated Opportunity Products</description>
        <name>OpportunityDataTable</name>
        <label>OpportunityDataTable</label>
        <locationX>798</locationX>
        <locationY>2306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DisplayText</name>
            <fieldText>&lt;p&gt;The Following Opportunity Products are updated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_GetUpdatedOpportunityProductsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>displayProdApexOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name_Text__c&quot;,&quot;guid&quot;:&quot;column-55cb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Unit_Price__c&quot;,&quot;guid&quot;:&quot;column-48c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Total_Price_Custom__c&quot;,&quot;guid&quot;:&quot;column-0f16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Price&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total Price Custom&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-33d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Date_Text__c&quot;,&quot;guid&quot;:&quot;column-bdb6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Start Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Start Date Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;End_Date_Text__c&quot;,&quot;guid&quot;:&quot;column-74f8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;End Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;End Date Text&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen which displays the updated and failed Opportunity Products and Failed O</description>
        <name>OpportunityDataTable_with_Errors</name>
        <label>OpportunityDataTable with Errors</label>
        <locationX>534</locationX>
        <locationY>2306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;The Following Opportunity Products are updated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GetUpdatedOpportunityProductsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>displayProdApexOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name_Text__c&quot;,&quot;guid&quot;:&quot;column-55cb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Unit_Price__c&quot;,&quot;guid&quot;:&quot;column-48c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Total_Price_Custom__c&quot;,&quot;guid&quot;:&quot;column-0f16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Price&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total Price Custom&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-33d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Date_Text__c&quot;,&quot;guid&quot;:&quot;column-bdb6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Start Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Start Date Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;End_Date_Text__c&quot;,&quot;guid&quot;:&quot;column-74f8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;End Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;End Date Text&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayText3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;The Following Opportunity Products are failed to update.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 9, 9);&quot;&gt;{!errorMessageListFromAPex}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorOppProducts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>errorOppProdDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name_Text__c&quot;,&quot;guid&quot;:&quot;column-7e05&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Unit_Price__c&quot;,&quot;guid&quot;:&quot;column-790b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-4737&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-7719&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Date_Text__c&quot;,&quot;guid&quot;:&quot;column-ad41&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Start Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Start Date Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;End_Date_Text__c&quot;,&quot;guid&quot;:&quot;column-d829&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;End Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;End Date Text&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen displays Opportunity Products as a data table</description>
        <name>select_products_screen</name>
        <label>Select products screen</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_on_selected_products</targetReference>
        </connector>
        <fields>
            <name>CautionOnStartDate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(17, 131, 231);&quot;&gt;Caution: The start date updates are ignored for the products with verity actuals&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>select_product_dataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OpportunityLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_Opportunity_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name_Text__c&quot;,&quot;guid&quot;:&quot;column-e7d9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Unit_Price__c&quot;,&quot;guid&quot;:&quot;column-b085&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Total_Price_Custom__c&quot;,&quot;guid&quot;:&quot;column-bcc1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Price&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Total Price Custom&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-7907&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Date_Text__c&quot;,&quot;guid&quot;:&quot;column-f7ac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Start Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Start Date Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;End_Date_Text__c&quot;,&quot;guid&quot;:&quot;column-49c3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;End Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;End Date Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Has_Actual_Verity_Amount__c&quot;,&quot;guid&quot;:&quot;column-31b9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Has Actual Verity Amount?&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Maximum_Actual_Verity_Schedule_Date__c&quot;,&quot;guid&quot;:&quot;column-46b2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Maximum Actual Verity Schedule Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Select the products to update start and end date&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Opportunity_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countOfErrorOpportunityProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DisplayProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>displayProdApexOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>errorMessageListFromAPex</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorOppProdDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityProductListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Display_Text_Caution</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_selected_products_OliIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
