force-app/main/default/flows/Opportunity_Product_On_Delete_Update_GMPOffset_Amount_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Aggregate_of_Quantity</name>
        <label>Aggregate of Quantity</label>
        <locationX>138</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>SumOfQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_Opportunity_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_the_Opportunity_Record_Type_and_GMP_Offset</name>
        <label>Checking the Opportunity Record Type and GMP Offset rate</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Advertising_or_Activation_with_GMP_Offset_Rate</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.GMP_Offset_rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$0.10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.GMP_Offset_rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$0.25</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Line_Items</targetReference>
            </connector>
            <label>Opp Advertising or Activation with GMP Offset Rate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>For_GMPOffsetAmount</name>
        <dataType>Number</dataType>
        <expression>({!SumOfQuantity}*IF(TEXT({!$Record.Opportunity.GMP_Offset_rate__c})=&apos;$0.10&apos;, 0.1, 0.25))/1000</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>Opportunity Product - On Delete Update GMPOffset Amount on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product - On Delete Update GMPOffset Amount on Opportunity</label>
    <loops>
        <name>Looping_Opportunity_Line_Items</name>
        <label>Looping Opportunity Line Items</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aggregate_of_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_GMP_Offset_rate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_GMP_Offset_rate</name>
        <label>Update Opportunity GMP Offset rate</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GMP_Offset_Amount__c</field>
            <value>
                <elementReference>For_GMPOffsetAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_the_Opportunity_Record_Type_and_GMP_Offset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricing__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPM</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SumOfQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
