force-app/main/default/flows/Opportunity_Advertising_Check_if_Targeting_and_Geo_Targeting_Are_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Booleans_to_False</name>
        <label>Set Booleans to False</label>
        <locationX>38</locationX>
        <locationY>94</locationY>
        <assignmentItems>
            <assignToReference>TargetingIsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GeoTargetingIsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Original_Opportunity_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GeoTargetingIsComplete_to_True</name>
        <label>Set GeoTargetingIsComplete to True</label>
        <locationX>712</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>GeoTargetingIsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Geo_Targeting_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TargetingisComplete</name>
        <label>Set TargetingisComplete</label>
        <locationX>372</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>TargetingIsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Targeting_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Geo_Targeting_is_Complete</name>
        <label>Geo Targeting is Complete</label>
        <locationX>553</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Geo_Targeting_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GeoTargeting.Campaign_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GeoTargetingIsComplete_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Targeting_is_Complete</name>
        <label>Targeting is Complete</label>
        <locationX>167</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Targeting_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Targeting.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_TargetingisComplete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Opportunity_Targeting_Checkboxes</name>
        <label>Update Opportunity Targeting Checkboxes?</label>
        <locationX>717</locationX>
        <locationY>97</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TargetingIsComplete</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalTargetingValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GeoTargetingIsComplete</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalGeoTargetingValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Both</targetReference>
            </connector>
            <label>Yes - Both</label>
        </rules>
        <rules>
            <name>Yes_Targeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TargetingIsComplete</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalTargetingValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Targeting</targetReference>
            </connector>
            <label>Yes - Targeting</label>
        </rules>
        <rules>
            <name>Yes_Geo_Targeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GeoTargetingIsComplete</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalGeoTargetingValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Geo_Targeting</targetReference>
            </connector>
            <label>Yes - Geo Targeting</label>
        </rules>
    </decisions>
    <description>Note: Only one Targeting record and one Geo Targeting record need to be complete.</description>
    <interviewLabel>Opportunity (Advertising) - Check if Targeting and Geo Targeting Are Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity (Advertising) - Check if Targeting and Geo Targeting Are Complete</label>
    <loops>
        <name>Loop_Through_Geo_Targeting_Records</name>
        <label>Loop Through Geo Targeting Records</label>
        <locationX>595</locationX>
        <locationY>239</locationY>
        <assignNextValueToReference>GeoTargeting</assignNextValueToReference>
        <collectionReference>GeoTargetingRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Geo_Targeting_is_Complete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Targeting_Checkboxes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Targeting_Records</name>
        <label>Loop Through Targeting Records</label>
        <locationX>299</locationX>
        <locationY>241</locationY>
        <assignNextValueToReference>Targeting</assignNextValueToReference>
        <collectionReference>TargetingRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Targeting_is_Complete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Geo_Targeting_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Geo_Targeting_Records</name>
        <label>Lookup Geo Targeting Records</label>
        <locationX>486</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Targeting_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Geo_Targeting__c</object>
        <outputReference>GeoTargetingRecords</outputReference>
        <queriedFields>Campaign_Country__c</queriedFields>
        <queriedFields>Campaign_City__c</queriedFields>
        <queriedFields>Campaign_DMA__c</queriedFields>
        <queriedFields>Campaign_Zip_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Targeting_Records</name>
        <label>Lookup Targeting Records</label>
        <locationX>336</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Geo_Targeting_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Insertion_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Targeting__c</object>
        <outputReference>TargetingRecords</outputReference>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Original_Opportunity_Values</name>
        <label>Original Opportunity Values</label>
        <locationX>189</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Targeting_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OriginalGeoTargetingValue</assignToReference>
            <field>Geo_Targeting_Complete__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OriginalTargetingValue</assignToReference>
            <field>Targeting_Complete__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Both</name>
        <label>Update Both</label>
        <locationX>1033</locationX>
        <locationY>31</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Geo_Targeting_Complete__c</field>
            <value>
                <elementReference>GeoTargetingIsComplete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Targeting_Complete__c</field>
            <value>
                <elementReference>TargetingIsComplete</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Geo_Targeting</name>
        <label>Update Geo Targeting</label>
        <locationX>1035</locationX>
        <locationY>252</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Geo_Targeting_Complete__c</field>
            <value>
                <elementReference>GeoTargetingIsComplete</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Targeting</name>
        <label>Update Targeting</label>
        <locationX>1035</locationX>
        <locationY>138</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Targeting_Complete__c</field>
            <value>
                <elementReference>TargetingIsComplete</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Set_Booleans_to_False</startElementReference>
    <status>Active</status>
    <variables>
        <name>GeoTargeting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Geo_Targeting__c</objectType>
    </variables>
    <variables>
        <name>GeoTargetingIsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GeoTargetingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Geo_Targeting__c</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalGeoTargetingValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalTargetingValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Targeting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeting__c</objectType>
    </variables>
    <variables>
        <name>TargetingIsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TargetingOrGeoTargetingIncomplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeting__c</objectType>
    </variables>
</Flow>
