force-app/main/default/flows/RollupRevScheduleOppProduct_w_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AddToCurrentQtr</name>
        <label>AddToCurrentQtr</label>
        <locationX>58</locationX>
        <locationY>967</locationY>
        <assignmentItems>
            <assignToReference>CurrentQtrRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQ1.Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQ1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCurrentQtr_0</name>
        <label>AddToCurrentQtr</label>
        <locationX>214</locationX>
        <locationY>1506</locationY>
        <assignmentItems>
            <assignToReference>CurrentQtrRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Q2.Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Q2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCurrentQtr_0_0</name>
        <label>AddToCurrentQtr</label>
        <locationX>1260</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>CurrentQtrRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQ4.Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQ4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCurrentQtr_0_0_0</name>
        <label>AddToCurrentQtr</label>
        <locationX>1093</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>CurrentQtrRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQ3.Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQ3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToNextQtr</name>
        <label>AddToNextQtr</label>
        <locationX>52</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>NextQtrRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQ1.Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQ1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToNextQtr_0</name>
        <label>AddToNextQtr</label>
        <locationX>215</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>NextQtrRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Q2.Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Q2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToNextQtr_0_0</name>
        <label>AddToNextQtr</label>
        <locationX>1265</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>NextQtrRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQ4.Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQ4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToNextQtr_0_0_0</name>
        <label>AddToNextQtr</label>
        <locationX>1087</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>NextQtrRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQ3.Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQ3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDate_FakeDate</name>
        <label>AssignDate-FakeDate</label>
        <locationX>555</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>CurrentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.FlowFakeDate__c.Fake_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindCurrentQuarter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDate_FlowDate</name>
        <label>AssignDate-FlowDate</label>
        <locationX>380</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>CurrentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindCurrentQuarter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FindCurrentQuarter</name>
        <label>FindCurrentQuarter</label>
        <locationX>456</locationX>
        <locationY>534</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsQ1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Q1_Start</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Q2_Start</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopQ1</targetReference>
            </connector>
            <label>IsQ1</label>
        </rules>
        <rules>
            <name>IsQ2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Q2_Start</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Q3_Start</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Q2</targetReference>
            </connector>
            <label>IsQ2</label>
        </rules>
        <rules>
            <name>IsQ3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Q3_Start</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Q4_Start</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopQ3</targetReference>
            </connector>
            <label>IsQ3</label>
        </rules>
        <rules>
            <name>IsQ4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Q4_Start</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopQ4</targetReference>
            </connector>
            <label>IsQ4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q1RevenueDecision</name>
        <label>Q1RevenueDecision</label>
        <locationX>50</locationX>
        <locationY>799</locationY>
        <defaultConnector>
            <targetReference>LoopQ1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCurrentQtr</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopQ1.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Jan1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ1.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Feb1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ1.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mar1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToCurrentQtr</targetReference>
            </connector>
            <label>IsCurrentQtr</label>
        </rules>
        <rules>
            <name>IsNextQtr</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopQ1.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Apr1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ1.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>May1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ1.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Jun1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToNextQtr</targetReference>
            </connector>
            <label>IsNextQtr</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q2RevenueDecision</name>
        <label>Q2RevenueDecision</label>
        <locationX>208</locationX>
        <locationY>1345</locationY>
        <defaultConnector>
            <targetReference>Loop_Q2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCurrentQtr_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Q2.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Apr1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Q2.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>May1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Q2.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Jun1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToCurrentQtr_0</targetReference>
            </connector>
            <label>IsCurrentQtr</label>
        </rules>
        <rules>
            <name>IsNextQtr_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Q2.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Jul1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Q2.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Aug1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Q2.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sep1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToNextQtr_0</targetReference>
            </connector>
            <label>IsNextQtr</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q3RevenueDecision</name>
        <label>Q3RevenueDecision</label>
        <locationX>1083</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>LoopQ3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCurrentQtr_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopQ3.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Jul1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ3.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Aug1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ3.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sep1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToCurrentQtr_0_0_0</targetReference>
            </connector>
            <label>IsCurrentQtr</label>
        </rules>
        <rules>
            <name>IsNextQtr_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopQ3.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Oct1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ3.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nov1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ3.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dec1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToNextQtr_0_0_0</targetReference>
            </connector>
            <label>IsNextQtr</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q4RevenueDecision</name>
        <label>Q4RevenueDecision</label>
        <locationX>1253</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>LoopQ4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCurrentQtr_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopQ4.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Oct1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ4.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nov1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ4.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dec1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToCurrentQtr_0_0</targetReference>
            </connector>
            <label>IsCurrentQtr</label>
        </rules>
        <rules>
            <name>IsNextQtr_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopQ4.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Jan1_NY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ4.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Feb1_NY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQ4.ScheduleDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mar1_NY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToNextQtr_0_0</targetReference>
            </connector>
            <label>IsNextQtr</label>
        </rules>
    </decisions>
    <formulas>
        <name>Apr1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),4,30)</expression>
    </formulas>
    <formulas>
        <name>Aug1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),8,31)</expression>
    </formulas>
    <formulas>
        <name>Dec1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),12,31)</expression>
    </formulas>
    <formulas>
        <name>Feb1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),3,1)-1</expression>
    </formulas>
    <formulas>
        <name>Feb1_NY</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate})+1,3,1)-1</expression>
    </formulas>
    <formulas>
        <name>Jan1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),1,31)</expression>
    </formulas>
    <formulas>
        <name>Jan1_NY</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate})+1,1,31)</expression>
    </formulas>
    <formulas>
        <name>Jul1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),7,31)</expression>
    </formulas>
    <formulas>
        <name>Jun1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),6,30)</expression>
    </formulas>
    <formulas>
        <name>Mar1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),3,31)</expression>
    </formulas>
    <formulas>
        <name>Mar1_NY</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate})+1,3,31)</expression>
    </formulas>
    <formulas>
        <name>May1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),5,31)</expression>
    </formulas>
    <formulas>
        <name>Nov1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),11,30)</expression>
    </formulas>
    <formulas>
        <name>Oct1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),10,31)</expression>
    </formulas>
    <formulas>
        <name>Q1_Start</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),1,1)</expression>
    </formulas>
    <formulas>
        <name>Q2_Start</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),4,1)</expression>
    </formulas>
    <formulas>
        <name>Q3_Start</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),7,1)</expression>
    </formulas>
    <formulas>
        <name>Q4_Start</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),10,1)</expression>
    </formulas>
    <formulas>
        <name>Sep1</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!CurrentDate}),9,30)</expression>
    </formulas>
    <interviewLabel>RollupRevScheduleOppProduct w Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RollupRevScheduleOppProduct w Subflow</label>
    <loops>
        <name>Loop_Q2</name>
        <label>Loop_Q2</label>
        <locationX>464</locationX>
        <locationY>1337</locationY>
        <collectionReference>AllRevenue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Q2RevenueDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQ1</name>
        <label>LoopQ1</label>
        <locationX>297</locationX>
        <locationY>811</locationY>
        <collectionReference>AllRevenue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Q1RevenueDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQ3</name>
        <label>LoopQ3</label>
        <locationX>891</locationX>
        <locationY>1228</locationY>
        <collectionReference>AllRevenue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Q3RevenueDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQ4</name>
        <label>LoopQ4</label>
        <locationX>1069</locationX>
        <locationY>731</locationY>
        <collectionReference>AllRevenue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Q4RevenueDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllRevenue</name>
        <label>GetAllRevenue</label>
        <locationX>471</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDate_FakeDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItemSchedule</object>
        <outputReference>AllRevenue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Revenue</queriedFields>
        <queriedFields>ScheduleDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProduct</name>
        <label>UpdateProduct</label>
        <locationX>678</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>Run_Opportunity_Subflow</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Quarter_Rollup__c</field>
            <value>
                <elementReference>CurrentQtrRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Quarter_Rollup__c</field>
            <value>
                <elementReference>NextQtrRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>345</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>GetAllRevenue</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Run_Opportunity_Subflow</name>
        <label>Run Opportunity Subflow</label>
        <locationX>678</locationX>
        <locationY>1285</locationY>
        <flowName>RollupOppProductRevenueOpportunity_Autolaunched</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllRevenue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentQtrRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NextQtrRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Q1_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
</Flow>
