force-app/main/default/flows/RollupOppProductRevenueOpportunity_SetZeros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Fake_Date_as_Current_Date</name>
        <label>Assign Fake Date as Current Date</label>
        <locationX>411</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>CurrentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.FlowFakeDate__c.Fake_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Start_of_Quarter_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flow_Date_as_Current_Date</name>
        <label>Assign Flow Date as Current Date</label>
        <locationX>180</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>CurrentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Start_of_Quarter_Check</name>
        <label>Is Start of Quarter Check</label>
        <locationX>290</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Not Start of Quarter</defaultConnectorLabel>
        <rules>
            <name>Is_Q1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDateFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpp</targetReference>
            </connector>
            <label>Is Q1</label>
        </rules>
        <rules>
            <name>Is_Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDateFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>41</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpp</targetReference>
            </connector>
            <label>Is Q2</label>
        </rules>
        <rules>
            <name>Is_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDateFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>71</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpp</targetReference>
            </connector>
            <label>Is Q3</label>
        </rules>
        <rules>
            <name>Is_Q4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDateFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>101</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpp</targetReference>
            </connector>
            <label>Is Q4</label>
        </rules>
    </decisions>
    <description>Resets the quarterly pledge amounts to 0</description>
    <formulas>
        <name>CurrentDateFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(
 MONTH({!CurrentDate})) &amp;
TEXT(
 DAY({!CurrentDate}))</expression>
    </formulas>
    <interviewLabel>RollupOppProductRevenueOpportunity-SetZeros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RollupOppProductRevenueOpportunity-SetZeros</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>299</locationX>
        <locationY>716</locationY>
        <inputAssignments>
            <field>Current_Quarter_Pledge_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Quarter_Pledge_Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>170</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>Assign_Fake_Date_as_Current_Date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Next_Quarter_Pledge_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Current_Quarter_Pledge_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-10-04</startDate>
            <startTime>20:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentQtrRevenueRollup</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>NextQtrRevenueRollup</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
</Flow>
