force-app/main/default/flows/RollupOppProductRevenueOpportunity_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignRecordId</name>
        <label>AssignRecordId</label>
        <locationX>164</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>recordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRevenueVariables</name>
        <label>AssignRevenueVariables</label>
        <locationX>486</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>CurrentQtrRevenueRollup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughProducts.Current_Quarter_Rollup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextQtrRevenueRollup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughProducts.Next_Quarter_Rollup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughProducts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FoundProducts</name>
        <label>FoundProducts</label>
        <locationX>152</locationX>
        <locationY>437</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughProducts</targetReference>
            </connector>
            <label>HasProducts</label>
        </rules>
    </decisions>
    <description>Autolaunched Flow to add the sum of the products to the opportunity</description>
    <interviewLabel>RollupOppProductRevenueOpportunity-Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RollupOppProductRevenueOpportunity-Autolaunched</label>
    <loops>
        <name>LoopThroughProducts</name>
        <label>LoopThroughProducts</label>
        <locationX>311</locationX>
        <locationY>442</locationY>
        <collectionReference>GetLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignRevenueVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLineItems</name>
        <label>GetLineItems</label>
        <locationX>159</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>312</locationX>
        <locationY>589</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Quarter_Pledge_Amount__c</field>
            <value>
                <elementReference>CurrentQtrRevenueRollup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Quarter_Pledge_Amount__c</field>
            <value>
                <elementReference>NextQtrRevenueRollup</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>37</locationX>
        <locationY>8</locationY>
        <connector>
            <targetReference>AssignRecordId</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentQtrRevenueRollup</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>NextQtrRevenueRollup</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
