force-app/main/default/flows/Update_Opportunity_with_Flow_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>1326</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ContactIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Data_Source</name>
        <label>Determine Data Source</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Search for Contact Roles</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_Role_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PCR_Flow_Task</targetReference>
            </connector>
            <label>Primary Contact Role Exists</label>
        </rules>
        <rules>
            <name>DISABLED_BY_DEFAULT_Search_for_Task_logged_to_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Person_on_Earliest_Opp_Task</targetReference>
            </connector>
            <label>[DISABLED BY DEFAULT] Search for Task logged to Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Contact_Role_Flow_Task_Found</name>
        <label>Was Contact Role Flow Task Found</label>
        <locationX>1238</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Contact Role Flow Task Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Role_Flow_Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Role_Flow_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_with_Contact_Role_Task_Data</targetReference>
            </connector>
            <label>Contact Role Flow Task Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if a flow task was found for the opp&apos;s primary contact role</description>
        <name>Was_PCR_Flow_Task_Found</name>
        <label>Was PCR Flow Task Found</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>PCR Flow Task Not Found</defaultConnectorLabel>
        <rules>
            <name>PCR_Flow_Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PCR_Flow_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_with_PCR_Task_Data</targetReference>
            </connector>
            <label>PCR Flow Task Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if a flow task was found for the person whose activity was first logged to the opp</description>
        <name>Was_Person_Flow_Task_Found</name>
        <label>Was Person Flow Task Found</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Person Flow Task Not Found</defaultConnectorLabel>
        <rules>
            <name>Person_Flow_Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Flow_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_with_Related_Person_Task_Data</targetReference>
            </connector>
            <label>Person Flow Task Found</label>
        </rules>
    </decisions>
    <description>When an opp is updated, update the opp with flow name, step. name, step type, and template name from the most recent flow step completed before the opp was created.</description>
    <environments>Default</environments>
    <interviewLabel>Update Opportunity with Flow Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity with Flow Data</label>
    <loops>
        <name>Loop_through_Contact_Roles</name>
        <label>Loop through Contact Roles</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contact_Role_Flow_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Find the contact or lead on the first task logged to the opportunity</description>
        <name>Find_Person_on_Earliest_Opp_Task</name>
        <label>Find Person on Earliest Opp Task</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Flow_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Role_Flow_Task</name>
        <label>Get Contact Role Flow Task</label>
        <locationX>1238</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Contact_Role_Flow_Task_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>groove_sent_from_flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Roles</name>
        <label>Get Contact Roles</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get primary contact role flow task</description>
        <name>Get_PCR_Flow_Task</name>
        <label>Get PCR Flow Task</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_PCR_Flow_Task_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>groove_sent_from_flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the last flow task logged to the person before the opp was created</description>
        <name>Get_Person_Flow_Task</name>
        <label>Get Person Flow Task</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Person_Flow_Task_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>groove_sent_from_flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Person_on_Earliest_Opp_Task.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_with_Contact_Role_Task_Data</name>
        <label>Update Opp with Contact Role Task Data</label>
        <locationX>1106</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>Groove_Last_Flow_Name__c</field>
            <value>
                <elementReference>Get_Contact_Role_Flow_Task.Flow_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groove_Last_Flow_Step_Number__c</field>
            <value>
                <elementReference>Get_Contact_Role_Flow_Task.Groove_Step_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groove_Last_Flow_Step_Type__c</field>
            <value>
                <elementReference>Get_Contact_Role_Flow_Task.Groove_Step_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groove_Last_Template_Name__c</field>
            <value>
                <elementReference>Get_Contact_Role_Flow_Task.Template_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_PCR_Task_Data</name>
        <label>Update Opp with PCR Task Data</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Groove_Last_Flow_Name__c</field>
            <value>
                <elementReference>Get_PCR_Flow_Task.Flow_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groove_Last_Flow_Step_Number__c</field>
            <value>
                <elementReference>Get_PCR_Flow_Task.Groove_Step_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groove_Last_Flow_Step_Type__c</field>
            <value>
                <elementReference>Get_PCR_Flow_Task.Groove_Step_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groove_Last_Template_Name__c</field>
            <value>
                <elementReference>Get_PCR_Flow_Task.Template_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_with_Related_Person_Task_Data</name>
        <label>Update Opp with Related Person Task Data</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Groove_Last_Flow_Name__c</field>
            <value>
                <elementReference>Get_Person_Flow_Task.Flow_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groove_Last_Flow_Step_Number__c</field>
            <value>
                <elementReference>Get_Person_Flow_Task.Groove_Step_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groove_Last_Flow_Step_Type__c</field>
            <value>
                <elementReference>Get_Person_Flow_Task.Groove_Step_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groove_Last_Template_Name__c</field>
            <value>
                <elementReference>Get_Person_Flow_Task.Template_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Data_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Groove_Last_Flow_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
