force-app/main/default/flows/Update_Account_Close_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_RecordTypeIds_to_Var</name>
        <label>Add RecordTypeIds to Var</label>
        <locationX>1722</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_T_Col_RecordTypeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_OppRecordType_Metadata.RecordTypeId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_OppRecordType_Metadata</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Agency_Changed</name>
        <label>Is Agency Changed?</label>
        <locationX>1634</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Is_Close_Date_or_Stage_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agency_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Agency_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Agency_Null_Check</targetReference>
            </connector>
            <label>Agency Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Close_Date_or_Stage_Changed</name>
        <label>Is Close Date or Stage Changed?</label>
        <locationX>2426</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>updateAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close_Date_Stage_Changed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agency_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunities</targetReference>
            </connector>
            <label>Close Date / Stage Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Agency_Null_Check</name>
        <label>New Agency Null Check</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Old_Agency_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agency_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Agency_Opportunties</targetReference>
            </connector>
            <label>New Agency Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Agency_Opportunity_Null_Check</name>
        <label>New Agency Opportunity Null Check</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_New_Agecny_Last_Opp_Close_Date_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunities_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Agency_Opportunties</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Agecny_Last_Opp_Close_Date</targetReference>
            </connector>
            <label>Opportunities exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Agency_Null_Check</name>
        <label>Old Agency Null Check</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old_Agency_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Agency_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Agency_Opportunties</targetReference>
            </connector>
            <label>Old Agency Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Agency_Opportunities_Null_Check</name>
        <label>Old Agency Opportunities Null Check</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Update_Old_Agency_Account_Close_Date_to_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old_Agency_Opportunities_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Agency_Opportunties</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Agency_Account_Close_Date</targetReference>
            </connector>
            <label>Old Agency Opportunities Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunities_Null_Check</name>
        <label>Opportunities Null Check</label>
        <locationX>1898</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Last_Opp_Close_Date_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunities_Exist1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Close_Date</targetReference>
            </connector>
            <label>Opportunities Exist</label>
        </rules>
    </decisions>
    <description>Updates Agency Name  with Recent Closed Won Opportunity Close Date</description>
    <environments>Default</environments>
    <interviewLabel>Update Account Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update Close Date</label>
    <loops>
        <name>Loop_on_OppRecordType_Metadata</name>
        <label>Loop on OppRecordType Metadata</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_RecordTypeIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_RecordTypeIds_to_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Agency_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createExceptionRecords</name>
        <label>createExceptionRecords</label>
        <locationX>2426</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Account - Update Close Date Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Agency_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Agency_Opportunties</name>
        <label>Get New Agency Opportunties</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Agency_Opportunity_Null_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createExceptionRecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agency_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed/Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>var_T_Col_RecordTypeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Agency_Opportunties</name>
        <label>Get Old Agency Opportunties</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_Agency_Opportunities_Null_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createExceptionRecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Agency_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed/Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>var_T_Col_RecordTypeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>1898</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunities_Null_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createExceptionRecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agency_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed/Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>var_T_Col_RecordTypeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeIds</name>
        <label>Get RecordTypeIds</label>
        <locationX>1634</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_OppRecordType_Metadata</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Record_Types__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Close_Date</name>
        <label>Update Account Close Date</label>
        <locationX>1634</locationX>
        <locationY>1163</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createExceptionRecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agency_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Opp_Close_Date_Agency__c</field>
            <value>
                <elementReference>Get_Opportunities.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Opp_Close_Date_to_Null</name>
        <label>Update Last Opp Close Date to Null</label>
        <locationX>2162</locationX>
        <locationY>1163</locationY>
        <faultConnector>
            <targetReference>createExceptionRecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agency_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Opp_Close_Date_Agency__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Agecny_Last_Opp_Close_Date</name>
        <label>Update New Agecny Last Opp Close Date</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Old_Agency_Null_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createExceptionRecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agency_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Opp_Close_Date_Agency__c</field>
            <value>
                <elementReference>Get_New_Agency_Opportunties.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Agecny_Last_Opp_Close_Date_to_Null</name>
        <label>Update New Agecny Last Opp Close Date to Null</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Old_Agency_Null_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createExceptionRecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agency_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Opp_Close_Date_Agency__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Agency_Account_Close_Date</name>
        <label>Update Old Agency Account Close Date</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createExceptionRecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Agency_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Opp_Close_Date_Agency__c</field>
            <value>
                <elementReference>Get_Old_Agency_Opportunties.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Agency_Account_Close_Date_to_null</name>
        <label>Update Old Agency Account Close Date to null</label>
        <locationX>578</locationX>
        <locationY>1811</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>createExceptionRecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Agency_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Opp_Close_Date_Agency__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>2954</locationX>
        <locationY>947</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agency_Name__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Opp_Close_Date_Agency__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordTypeIds</targetReference>
        </connector>
        <filterFormula>AND(
             OR(
                        {!$Record.RecordType.Name} = &apos;Advertising&apos;,
                        {!$Record.RecordType.Name} = &apos;Activation&apos;,
                        {!$Record.RecordType.Name} = &apos;Open Market&apos;,
                        {!$Record.RecordType.Name} = &apos;Playground Attention Intelligence Platform&apos;,
                        {!$Record.RecordType.Name} = &apos;Verity&apos;,
                        {!$Record.RecordType.Name} = &apos;Video&apos;
                  ),
              OR(
                      AND(
                                ISNEW(),
                                NOT(ISBLANK({!$Record.Agency_Name__c})),
                                TEXT({!$Record.StageName})=&apos;Closed/Won&apos;
                              ),
                       AND(ISCHANGED({!$Record.StageName}),
                                 OR(TEXT({!$Record.StageName})=&apos;Closed/Won&apos;,
                                         TEXT({!$Record__Prior.StageName})=&apos;Closed/Won&apos;
                                       )
                                ),
                         AND(ISCHANGED({!$Record.Agency_Name__c}),
                                     TEXT({!$Record.StageName})=&apos;Closed/Won&apos;
                                  ),
                         AND(ISCHANGED({!$Record.CloseDate}),   
                                     TEXT({!$Record.StageName})=&apos;Closed/Won&apos;
     )
   )
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_T_Col_RecordTypeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
