force-app/main/default/flows/User_Auto_Creation_Of_Contact_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Contact_No_Longer_Active</name>
        <label>Update Contact No Longer Active</label>
        <locationX>374</locationX>
        <locationY>648</locationY>
        <actionName>ContactUpdateHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailIds</name>
            <value>
                <elementReference>Get_Related_Contact.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists ?</label>
        <locationX>506</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_No_Longer_Active</targetReference>
            </connector>
            <label>Contact Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>User Record criteria: Active = TRUE and Email contains GumGum or Playground and Company name is GumGum or contains Playground</description>
        <name>Is_User_Created_or_Updated</name>
        <label>Is User Created or Updated?</label>
        <locationX>506</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_User_Created</name>
            <conditionLogic>(1 AND (2 OR 3) AND (4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>gumgum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Playground</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GumGum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Playground</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GumGum_Account_Record</targetReference>
            </connector>
            <label>New User Created</label>
        </rules>
        <rules>
            <name>Is_User_Deactivated</name>
            <conditionLogic>(1 AND (2 OR 3) AND (4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>gumgum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>playground</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GumGum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Playground</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Contact</targetReference>
            </connector>
            <label>Is User Deactivated?</label>
        </rules>
    </decisions>
    <description>This flow is added to create a related GumGum Contact when a new Salesforce user is created with matching criteria and to update the existing related contact to No longer with Account when user is deactivated.</description>
    <environments>Default</environments>
    <interviewLabel>User - Auto Creation Of Contact Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Auto Creation Of Contact Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create new contact related to the user</description>
        <name>Create_GumGum_Contact_Record</name>
        <label>Create GumGum Contact Record</label>
        <locationX>110</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_GumGum_Account_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>$Record.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_GumGum_Account_Record</name>
        <label>Get GumGum Account Record</label>
        <locationX>110</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_GumGum_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gumgum Inc</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>506</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>OR(ISNEW(),AND({!$Record__Prior.IsActive} = true ,{!$Record.IsActive} = false))</filterFormula>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_After_1_Minute</name>
            <connector>
                <targetReference>Is_User_Created_or_Updated</targetReference>
            </connector>
            <label>Run After 1 Minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0054U00000Cs1dgQAB</stringValue>
        </value>
    </variables>
</Flow>
